<%total=0%>
<center><H1>Ваш заказ!</H1></center>


<div class="container">
  <div class="row row-cols-3">
 
<%y = @orders.split(%r{,\s*})%>
<%y.each do |i|%>
 <% res = i.split('=')%>
 <%prod = Product.find(res[0]) %>
    <div class="col-xl-4">
      <!-- Начало внутреннего контейнера -->




            <div class="container">
              <div class="row ">
                <div class="col-4"><h1><%=prod.title%></h1></div>
                <div class="col-9"><img src="<%=prod.picture%>" width="150" height="100"></div>
                <div class="col-4"><h5>Цена <%=prod.price%> грн.</h5></div>
                 <div class="col-12"><small>Скидка: </small></div>

                <div class="col-12">
                 <h6><b> Количество: </b><%=res[1]%></h6>
                  <%total+=res[1].to_i*prod.price%>
               </div>
              </div>
            </div>

      <!-- Конец внутреннего контейнера -->
    </div>
    <%end%>
  </div>
  <center><h3><b>Общая сумма: </b><%=total%> грн.</h3></center>
</div>