 <%total=0%>


<%order_number = Time.now%>
<center><H1>Ваш заказ!</H1></center>

<form action="/cart" method="POST">
<div class="container">
  <div class="row row-cols-3">

<% @items.each do |item|%>

    <div class="col-xl-4">
      <!-- Начало внутреннего контейнера -->


<input type="hidden" class="form-control" id="exampleFormControlInput1" placeholder="00.00" name="element[id_pizza]" value="<%=@key%>">

            <div class="container">
              <div class="row ">
                 
                <div class="col-4"><input type="hidden" class="form-control" id="exampleFormControlInput1" placeholder="00.00" name="element[order_number]" value="<%=order_number%>"><%=item[0].title%></div>
                <div class="col-9"><img src="<%=item[0].picture%>" width="150" height="100"></div>
                <div class="col-4"><h5>Цена <%=item[0].price%> грн.</h5></div>
                 <div class="col-12"><small>Скидка: </small></div>

                <div class="col-12">
                 <h6><b> 
                 <input type="hidden" class="form-control" id="exampleFormControlInput1" placeholder="00.00" name="element[quantity]" value="<%=item[1]%>">Количество: </b><%=item[1]%></h6>
                  
                  <%total+=item[1].to_i*item[0].price.to_i%>
               </div>

              </div>
            </div>

      <!-- Конец внутреннего контейнера -->
    </div>
   <%end%>
  </div>
  <center><h3><b>Общая сумма: </b>
     
    <input type="hidden" class="form-control" id="exampleFormControlInput1" placeholder="00.00" name="element[total_summ]" value="<%=total%>"><%=total%> грн.</h3></center>
</div>
 <center><button type="submit" class="btn btn-danger btn-Lg" id="add_order">Заказать</button> </center>
</form>