
  <br>

  <div class="container">
  <div class="row row-cols-3">
   <%@product.each do |product|%>
    <div class="col-xl-4">
      <!-- Начало внутреннего контейнера -->

            <div class="container">
              <div class="row ">
                <div class="col-4"><h1><%=product.title%></h1></div>
                <div class="col-9"><img src="<%=product.picture%>" width="150" height="100"></div>
                <div class="col-4"><h5><%=product.price%> грн.</h5></div>
                <div class="col-12"><small>Описание: <%=product.description%></small></div>
                <div class="col-12"><small>Размер: <%=product.size%> см.</small></div>
                <div class="col-12"><small>Описание: Тип</small></div>
                <div class="col-12"><small>Скидка: <%=product.is_best_offer%></small></div>

                <div class="col-12">
                <button class="btn btn-success btn-sm" id="allert" onclick="add_to_cart(<%=product.id%>)">В корзину</button></div>
              </div>
            </div>

      <!-- Конец внутреннего контейнера -->
    </div>
      <%end%>
  </div>
  
</div>