
  

  <div class="container">
  <div class="row row-cols-3">
   <%@product.each do |product|%>
    <div class="col-xl-4">
      <!-- Начало внутреннего контейнера -->

            <div class="container">
              <div class="row ">
                <div class="col-9"><img src="<%=product.picture%>"></div>
                <div class="col-4"><%=product.title%></div>
                <div class="col-4"><%=product.price%></div>
                <div class="col-12"><%=product.description%></div>
                <div class="col-12"><%=product.size%></div>
                <div class="col-12">Тип</div>
                <div class="col-12"><%=product.is_best_offer%></div>

                <div class="col-12"><button class="btn btn-primary" id="allert" onclick="something()">Accept</button></div>
              </div>
            </div>

      <!-- Конец внутреннего контейнера -->
    </div>
      <%end%>
  </div>
</div>